@keyframes wave {
  0%, 100% {
      transform: rotate(0deg);
  }
  25% {
      transform: rotate(-5deg);
  }
  50% {
      transform: rotate(5deg);
  }
  75% {
      transform: rotate(-5deg);
  }
}

  .hand-wave {
    animation: wave 2s infinite; 
    transform-origin: bottom center;
  }

  .profession::before {
    position: absolute;
    content: "";
    width: 70px;
    height: 1.2px;
    background-color: gray;
    left: 0;
    top: 15px;
}
