.container {
  margin-inline: auto; /* Center the container horizontally */
  padding-inline: 1.2rem; /* Default padding for all screen sizes */

  /* Responsive horizontal padding based on screen sizes */
  @media (min-width: 640px) {
    padding-inline: 2rem; /* Small screens and above */
  }

  @media (min-width: 768px) {
    padding-inline: 4rem; /* Medium screens and above */
  }

  @media (min-width: 1024px) {
    padding-inline: 5rem; /* Large screens and above */
  }

  @media (min-width: 1280px) {
    padding-inline: 6rem; /* Extra-large screens and above */
  }

  @media (min-width: 1536px) {
    padding-inline: 8rem; /* 2-extra-large screens and above */
  }
}