.header-container {
  padding-inline: 1.5rem; 
  
  @media (min-width: 1024px) {
    padding-inline: 2rem; 
  }

  @media (min-width: 1280px) {
    padding-inline: 3rem; 
  }

  @media (min-width: 1536px) {
    padding-inline: 6rem; 
  }
}

.home-content {
  height: 100vh;
  
  @media (min-width: 1024px) {
    max-height: 846px;
  }

  @media (min-width: 1280px) {
    max-height: 977px;
  }

  @media (min-width: 1440px) {
    max-height: 1058px;
  }

  @media (min-width: 1536px) {
    max-height: 1270px;
  }
}

.text-heading {
  font-size: 46px;
  letter-spacing: -0.5px;
  font-weight: bold;
}

.content-space-y {
  padding-top: 120px;
  padding-bottom: 150px;
}